.maincard {
  text-align: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 10px;
  margin-bottom: 50px;
  /* overflow: scroll; */
  /* padding: 10px; */
}

/* *::-webkit-scrollbar {
  display: none;
} */

#prog_T {
  overflow: scroll;
}
#pro_T_T {
  height: 500px;
  overflow: scroll;
}
form {
  margin-bottom: 20px;
}
.datos2 {
  width: 100vw;
}

.box {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px gray dotted;
  /* width: 50px; */
}

.margbom {
  margin-bottom: 10px;
}
.grid {
  display: grid;
  place-content: center;
  place-items: center;
}
.disco {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(5, 40px);
  gap: 10px;
  place-content: center;
  /* height: fit-content; */
  width: 500px;
  margin-top: 20px;
  align-items: center;
  /* grid-auto-rows: 25% ;  */
  /* overflow: scroll; */
}
.controles {
  position: sticky;
  bottom: 0;
  right: 0;
  width: fit-content;
}

#ejecBtn {
  margin: 0 auto;
}

.discoradius {
  position: relative;
  border-radius: 50%;
  border: 2px pink dashed;
  width: 500px;
  overflow: scroll;
  /* height: fit-content; */
}

.pink {
  box-shadow: 0px 10px 15px -3px #ffbfca;
  border: none;
  width: 300px;
  margin: 0 auto;
}

.datos {
  text-align: center;
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
}

body {
  margin: 0px;
}
.colour-block {
  background: #369a7e;
  width: 60%;
  padding: 7% 20% 10% 20%;
  color: #fff;
}
.white-block {
  background: #fff;
  width: 60%;
  padding: 7% 20% 10% 20%;
  color: #369a7e;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-family: "wire one", serif;
  font-weight: normal;
}
p {
  font-size: 20px;
  font-family: "Raleway", serif;
}

body {
  margin: 0px;
}
.colour-block {
  background: #ffbfca;
  width: 60%;
  padding: 7% 20% 10% 20%;
  margin: 0;
  color: #fff;
}
.white-block {
  background: #fff;
  width: 60%;
  padding: 7% 20% 10% 20%;
  color: #ffbfca;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-family: "wire one", serif;
  font-weight: normal;
}
p {
  font-size: 20px;
  font-family: "Raleway", serif;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, #ffbfca 49%, #fff 50%),
    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #ffbfca !important;
} */

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to left bottom, #fff 49%, #ffbfca 50%);
}
